.navbar {
  background-color: rgb(153, 8, 129);
  position: fixed !important;
  z-index: 1;
  top: 0;
  width: 100%;
}
.headingmainpage {
  font-size: 4rem;
  font-weight: bold;
  font-family: cursive;
}
.navbar-brand {
  font-family: cursive;
}
.subhead {
  font-size: 1.5rem;
  font-weight: lighter;
}
/* .notaslika {
  height: 400px !important;
} */
.favouritebutton {
  background-color: rgb(1, 113, 133) !important;
  color: white !important;
}
.songlist {
  background-color: rgb(235, 229, 229);
}
section {
  min-height: 80vh;
}
